
<% const posts_filtered_list = post_filter_by_lang( site.posts, page_language() ) %>

<% if ( posts_filtered_list.length ){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('categories') %></h3>
    <div class="widget">
      <%- power_list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
